<h1>
  Sign up
</h1>
<div class="mx-auto w-full">
<%= form_with(model: @user, class: "contents", url: register_path) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited you from registering:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, required: true, spellcheck: false %>
  </div>
  <div class="my-5">
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>
   <div class="my-5">
    <%= form.label :password_confirmation, 'Confirm Password' %>
    <%= form.password_field :password_confirmation, required: true %>
  </div>
  <%= form.submit "Sign Up",  class: "button-large" %>
<% end %>
</div>
