<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <h2><%= link_to(@apartment.city.name, city_path(@apartment.city)) %></h2>
    <h3><%= @apartment.neighborhood.name %></h3>
    <h1><%= @apartment.street_address %></h1>
    <%= render @apartment %>
    <div class="bg-gray-300 p-4">
      <h3><%= @apartment.residents.count %> Residents</h3>
      <ul class="pl-5">
        <% @apartment.residents.each do |resident| %>
          <li><%= resident.email %></li>
        <% end %>
      </ul>
      <% if @apartment.current_resident?(current_user) %>
        <%= button_to("Move Out", vacate_apartment_path(@apartment), method: :patch, class: "button-small bg-red-600") %>
      <% elsif @apartment.unoccupied? %>
        <%= button_to("Move In", occupy_apartment_path(@apartment), method: :patch, class: "button-small bg-green-600") %>
      <% end %>

      <% if !@apartment.unoccupied? %>
        <% pending_applicants = @apartment.applicants.select { |applicant| @apartment.request(applicant).status == 'pending' } %>
        <h3><%= pending_applicants.count %> Pending Applicants</h3>
        <ul class="pl-5">
          <% pending_applicants.each do |applicant| %>
            <li><%= applicant.email %></li>
          <% end %>
        </ul>

        <% current_user_application = @apartment.request(current_user) %>
        <% if current_user_application&.status == 'pending' %>
          <%= button_to("Unapply", apartment_apartment_request_path(@apartment, current_user_application), method: :delete, class: "button-small bg-red-600") %>
        <% elsif !@apartment.current_resident?(current_user) %>
          <%= button_to("Apply", apartment_apartment_requests_path(@apartment), method: :post, class: "button-small bg-blue-600") %>
        <% end %>
      <% end %>
    </div>

    <%= link_to "Edit this apartment", edit_apartment_path(@apartment), class: "button-edit" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this apartment", apartment_path(@apartment), method: :delete, class: "button-delete" %>
    </div>
    <%= link_to "Back to apartments", apartments_path, class: "button-back" %>
  </div>
</div>
